body {
color: #222;
font-family: "Helvetica Neue", sans-serif;
font-weight: 200;
margin: 0 50px;
}

h3{
  margin-top: 0;
}
html, body, #content, .game, .table-cards{
  height: 100%;
}

.react-draggable{
  cursor: pointer;
}

.front, .back{
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front{
  vertical-align: top;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  border-radius: 1px;
  width: 130px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  transform: rotateX(0deg);
}
.back{
  box-sizing: border-box;
  background: url("../../public/images/card-back.jpg");
  height: 180px;
  width: 130px;
  margin: 10px;
  padding: 10px;
  background-size: contain;
  transform: rotateX(180deg);
}

.flip-container{
  -webkit-perspective: 1000;
  display: inline-block;
  height: 180px;
  width: 130px;
  position: relative;
  .table-card{
    margin: 0;
    padding: 0;
    border: 0;
  }
}
.flipper{
  position: relative;
  transform-origin: 100% 90px;
  transform-style: preserve-3d;
}
.box {
  vertical-align: top;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  border-radius: 1px;
  width: 130px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  h1{
    text-align: center;
    margin-top: 50px;
  }
}

.stacks{
  position: absolute;
  bottom: 0;
  margin-left: -21px;
}

.stack{
  height: 2px;
  width: 130px;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 0 10px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: white;
}

.Hearts, .Diamonds{
  color: red;
}

.table-cards{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}
.card-list{
  display: inline-block;
  margin: 10% auto;
  min-width: 150px;
  transition: all .5s ease-in;
  background-color: white;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
.table{
  height: 70%;
}
.draw-card{
  box-sizing: border-box;
  height: 30%;
  position: relative;
  padding: 30px 0;
  .cards{
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    padding: 0px 0px;
    margin-left: -50px;
    top: 30px;
    width: 130px;
    height: 1px;
    z-index: 3;
  }
  button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    position: relative;
    &:focus{
      outline: 0;
    }
  }
  .cards div{
    position: absolute;
    height: 180px;
    width: 130px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #999;
    transition: .3s all ease-in;
    backface-visibility: hidden;
    background: url("../../public/images/card-back.jpg");
    background-size: contain;
    cursor: pointer;;
    &:nth-child(1){
      transform: rotate(10deg);
    }
    &:nth-child(2){
      transform: rotate(5deg);
    }
  }
}

.card-counter{
    position: absolute;
    left: 50%;
    margin-left: 130px;
}

.rules{
  z-index: 1;
  h3{
    cursor: pointer;
    transition: 1s all ease-in;
    position: relative;
  }
  .triangle{
    position: absolute;
    content: "";
    left: -15px;
    top: 3px;
    border-right: 8px solid black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    transition: .5s all ease-in;
    transform: rotate(0deg) translate(0,0) rotate(0deg);
  }

  .text{
    opacity: 0;
    transition: .5s all ease-out;
  }
  position: absolute;
  left: 50%;
  margin-left: -180px;
  max-width: 300px;
  transition: .5s all ease-in;
  &.open{
      
  }
  &.open{
    left: 0;
    margin-left: 0;
    .text{
      opacity: 1;
    }
    .triangle{
      border-left: 8px solid black;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 0;
      transform: translate(0, -20px) rotate(360deg) translate(80px, 20px) rotate(-360deg);
    }
  }
}

.lang{
  position: absolute;
  right: 0;
  bottom: 80px;
  div{
    cursor: pointer;
  }
  .no, .en{
    padding: 5px;
  }
}

.lang-en .en{
  font-weight: bold;
}

.lang-no .no{
  font-weight: bold;
}
.drawn-50{
  div:nth-child(1){ display: none};
}
.drawn-51{
  div:nth-child(1){ display: none};
  div:nth-child(2){ display: none};
}
.drawn-52{
  div:nth-child(1){ display: none};
  div:nth-child(2){ display: none};
  div:nth-child(3){ display: none};
}
.card-stacks{
  position: absolute;
}

.draw-card .cards.drawn-50 div:nth-child(1){
  display: none;
}
.draw-card .cards.drawn-51 div:nth-child(2){
  display: none;
}
.draw-card .cards.drawn-52 div:nth-child(3){
  display: none;
}

.draw-card .cards div:nth-child(3):hover{
  transform: scale(1.05) translateY(-30px);
}

.example-appear {
  transform: scale(1.3) translate3d(0, 100px, 100px);
  transition: transform .5s ease-in;
}

.example-appear .flipper{
  transform: rotateX(180deg);
  transition: transform .5s ease-in;
}
.example-appear.example-appear-active .flipper{
  transform: rotateX(0deg);
}

.example-appear.example-appear-active {
  transform: scale(1) translate3d(0,0,0);
}